@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

#title {
  font-size: 150px;
  margin: 0;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  color: white;
}

#headline {
  margin: 0;
  position: absolute;
  top: 52%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

#button {
  margin: 0;
  position: absolute;
  top: 62%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#header{
    height: 50px;
}

img{
    margin-top: -12px;
    margin-left: 10px;
    height: 75px;
    width: auto; 
}

body {
  background-image: url("dojobackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
