@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap');

h1{
    font-size: 100px;   
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: 'Roboto Slab', serif;
}   

h2{
    margin: 0;
    position: absolute;
    top: 49%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#button{
    margin: 0;
    position: absolute;
    top: 59%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); 
}
